* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.side1 {
  position: relative;
}
.leaf {
  width: 300px;
  height: 650px;
  object-fit: fill;
}
.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */
}
.odin {
  height: 60px;
  width: 60px;
  color: white;
}
.odinname {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: ;
}

.information {
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 25px;
  font-size: 14px;
}
.pra {
  font-weight: 700;
  font-size: 14px;
}
.info2 {
  padding-left: 30px;
  font-weight: 700;
}

.side2 {
  width: 700px;
  background-color: #f6f7fa;
}
.fillup {
  margin-top: 40px;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 30px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}
.head {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.fillup-box {
  display: flex;
  align-items: start;
}
.three1 {
  margin-bottom: 20px;
}

.three2 {
  margin-left: 45px;
  margin-bottom: 2opx;
}
.firstname {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
.email {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
.password {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
.lastname {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
.phonenumber {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
.confpassword {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
}
input {
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.3);
}
input:hover {
  cursor: pointer;
}
.button {
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  width: 140px;
  border: none;
  background-color: #3a5d1c;
  color: #fff;
  font-size: 12px;
}
button:hover {
  color: black;
  background-color: bisque;
  cursor: pointer;
}
.last {
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 600;
  font-size: 13px;
}
